

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#footer {
	border: black solic 2px;
	background-color: #353535;
	color: white;
}

.jumbotron {
	
}

#BG1{
	background: url('../img/Banner.jpg') no-repeat center center fixed;
	background-size: cover;
}

#BG1 h1 {
	color: white;

}

#BG2{
	background: url('../img/Banner2.jpg') no-repeat center center fixed;
	background-size: cover;
}

#BG2 h1 {
	color: white;
}

#BG2 p{
	color: white;
}

#BG3{
	background-color: gray;
	color: white;
}

#BG4{
	background: url('../img/4.jpg') no-repeat center center fixed;
	background-size: cover;	
	color: white;
}

.border{
	border: 2px solid black;
	border-radius: 200px;
}

/*#studentChart{
	width: 1000px;
}*/













